    #myNavbar{
        margin-left: 7%;
        margin-right: 7%;
    }
 
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
        background: none;
        color: #2e76b6;
    }
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus{
        background: none; 
        color: black;
    }

    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
        background: none;
        color:  #2e76b6;
    }
    .navbar-inverse .navbar-nav > li > a{
        color: black;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1.8px;          
        color: black;
            
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: white;
    }

    .toggle  {
        background-color:  #4ebb92;
        border: none;
        float: left; 
        margin-left: 10%;
    }

    .disorders {
        color: #2e76b6;
        list-style-type: square;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
        background-color: #4ebb92;
    }
        
    .navbar-toggle:hover,.navbar-toggle:focus {
        background-color: #4ebb92;
    }
        
    .navbar-toggle .icon-bar {
        background-color: none;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        border: none;
    }

    #pic_header{
        text-align: center; 
    }

    #pic_header img{
        height: auto; 
        width: 90%;
        padding-bottom: 15%; 
        margin-top: -4%;
    }

    .generalText{
        text-align: center;
        color: white;  
        font-family: 'Raleway', sans-serif;
    }

    h1{
        text-align: center; 
        padding-bottom: 2%;
        color: white; 
        font-family: 'Kristen ITC';
        font-size: 1.3em;         
    }

    .tab h1 {
        position: absolute;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        text-align: center;
        border-top-left-radius: 60%;
        border-bottom-left-radius: 30%;
        z-index: 1;
        background-color: #4ebb92;
        margin-top: -5%; 
        padding-top: 5%;
    }

    .tab:nth-of-type(2n+1) h1{
        border-top-left-radius: 0%;
        border-top-right-radius: 60%;
        border-bottom-left-radius: 0%; 
        background-color: white;
        color: #4ebb92;
    }

    section{
        background-color: #4ebb92; 
        padding-top:15%; 
        padding-left:7%; 
        padding-right: 7%; 
        padding-bottom: 15%; 
        color: white; 
        font-family: 'Kristen ITC';             
    }
        
    .section2{
        background-color: white; 
        padding-top: 8%; 
        color: #4ebb92;
    }

    .row{
        font-family: 'Raleway', sans-serif;
    }

    h2{
        font-size: 1.1em;
    }

    #meet{
        background-color: #282b34; 
        color: white;
    }

    .meet{
        text-align: center ; 
    }

    .doc_link{
        color: white; 
        text-decoration: none;     
        padding-right: 2%; 
        cursor: pointer; 
    }

    .social_media{
        background-color: none;
        border-color: none;
        color: #4ebb92;
    }
        
    .containerWidth{
        max-width: 1000px; 
        margin: auto;
            
    }

    @media screen and (min-width: 500px){
        .navbar-inverse .navbar-nav > li > a{
        font-size: 1.2em;        
        }

        h1{
            font-size: 1.4em;
        }

        section{
            padding-top: 10%;
        }

        p{
            font-size: 1.2em;
        }

        h2{
            font-size: 1.3em;
        }
        .meet{
            text-align: left;
        }

        #pic_header{
            padding-bottom: 7%;
            padding-top: 7%;
        }
    }
    @media screen and (max-width: 767px) {
           

        .navbar-inverse .navbar-nav > li > a{
            color: black;
            font-family: 'Raleway', sans-serif;
            margin-left: 10%;
            background-color: #282b34;
            color: white;
            padding-top: -4%;
            border-color: white;
            border-style: solid;
            border-width: .1px;
            width: 50%;
            text-align:center;
            
        }
        #myNavbar{
            margin-top: 0%;
                
        }

        .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus{
            background-color: #282b34;
            color: white;
        }

        .navbar-inverse .navbar-nav > .active > a:hover{
            background-color: #4ebb92;
            color: white;
        }

        .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
            background-color: #4ebb92;
            color:  white;
        }
        .navbar-inverse .navbar-nav > li > a{
            color: white;
            font-family: 'Raleway', sans-serif;
            
        }
        .navbar-inverse .navbar-nav > li:hover{
            color: white;
            font-family: 'Raleway', sans-serif;
            
        }
   

}
       

@media screen and (min-width: 900px){
    .navbar-inverse .navbar-nav > li > a{
        font-size: 1.4em;        
    }

    h1{
            font-size: 1.6em;
    }

    section{
        padding-top: 10%;
    }

    p{
        font-size: 1.4em;
    }

    h2{
        font-size: 1.5em;
    }
    .meet{
        text-align: left;
    }
    #pic_header{
        padding-bottom: 7%;
        padding-top: 7%;
    }
}
@media screen and (min-width: 1200px){
    .navbar-inverse .navbar-nav > li > a{
        font-size: 1.6em;        
    }
    h1{
        font-size: 1.8em;
    }

    section{
        padding-top: 6%;
        padding-bottom: 10%;
    }

    p{
        font-size: 1.6em;
    }

    h2{
        font-size: 1.7em;
    }
    .meet{
        text-align: left;
    }
    #pic_header{
        padding-bottom: 7%;
        padding-top: 7%;
    }
}
@media screen and (min-width: 1600px){
    .navbar-inverse .navbar-nav > li > a{
        font-size: 1.8em;        
    }
    h1{
        font-size: 2em;
    }

    section{
        padding-top: 6%;
        padding-bottom: 10%;
    }

    p{
        font-size: 1.8em;
    }

    h2{
        font-size: 1.9em;
    }
    .meet{
        text-align: left;
    }
    #pic_header{
        padding-bottom: 7%;
        padding-top: 10%;
    }
}


