 a{
            
        }

        p{
            font-size: 1.2em;
        }


        li p{
            font-size: 1.6em;
        }

        h2{
            font-size: 1.6em;
        }
        .meet{
            font-size: 1.2em;
        }

        

        
        

        .meetHeader{
            color: white !important;
            text-align: left;
        }


       

        
       

        .social{
            padding: 2%;
        }
        .social div{
            font-size: 1.3em;
        }
        .social p{
            font-family: 'Raleway', sans-serif;
            
        }

        

       

        
        

        
        

        section li{
            font-size: .715em;
        }

        

       
       

        @media screen and (min-width: 2000px){
            h1{
                font-size: 4em;
            }
            .navbar-inverse .navbar-nav > li > a {
                font-size: 3em;
            }
            

            section{
                font-size: 2.4em;
                padding-left: 20%; 
                padding-right: 20%;
            }
            
            
        }

        @media screen and (max-width: 1500px){
            
            section{
                padding-left: 20%;
                padding-right: 20%;
            }
            .meet{
                font-size: 1.35em;
            }
        }

        @media screen and (max-width: 900px){

           

            #pic_header{
                padding-top: 0%;
                margin-top: 0%;  
            }

            section {
                padding-top: 15%;
                padding-left: 15%;
                padding-right: 15%;
            }
            


            h1{
                font-size: 2em;
            }


            .disorders {
                color: #2e76b6;
                text-align: left;
                list-style-type: square;

            }

            .meet, .meetHeader{
                text-align:center;
            }

            
        }
        

         @media screen and (max-width: 767px) {
             .navbar-inverse .navbar-nav > li > a{
                color: black;
                font-family: 'Raleway', sans-serif;
                margin-left: 10%;
                background-color: #282b34;
                color: white;
                padding-top: -4%;
                border-color: white;
                border-style: solid;
                border-width: .1px;
                width: 50%;
                text-align:center;
            
            }
             #myNavbar{
                 margin-top: 0%;
                
             }

             .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus{
                background-color: #282b34;
                color: white;
            }

             .navbar-inverse .navbar-nav > .active > a:hover{
                background-color: #4ebb92;
                color: white;
            }

            .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
                background-color: #4ebb92;
                color:  white;
            }
            .navbar-inverse .navbar-nav > li > a{
                color: white;
                font-family: 'Raleway', sans-serif;
            
            }
             .navbar-inverse .navbar-nav > li:hover{
                color: white;
                font-family: 'Raleway', sans-serif;
            
            }
   

        }
        @media screen and (max-width: 400px){
          .navbar-inverse .navbar-nav > li > a{
                color: black;
                font-family: 'Raleway', sans-serif;
                margin-left: 10%;
                background-color: #282b34;
                color: white;
                padding-top: -4%;
                border-color: white;
                border-style: solid;
                border-width: .1px;
                width: 80%;
                text-align:center;
            
            }
            #pic_header{
                padding-top: 0%;
                margin-top: -5%;
               
            }

            section{
                padding-top: 15%;
                padding-left: 10%;
                padding-right: 10%;
                font-size: 1.1em;
            }

            h1{             
                font-size: 1.4em;
            }

            .disorders {
                color: #2e76b6;
                text-align: left;
                list-style-type: square;
                
                
            }
            .disorders li {
                padding: 0em;
            }
            .meet, .meetHeader{
                text-align:center;
            }


        }
        
